@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Nunito:wght@500&display=swap');

* {
    box-sizing: border-box;
    //font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    margin: 0;
    font-family: "Nunito", Helvetica, sans-serif;
  }